<h2>Team</h2>

<div class="team">
  <h3>Name: <%= @team.name %></h3><br>
  <h4>Motto: <%= @team.motto %></h4>
  <h4>Height: <%= @team.height %></h4>
</div><br>


<h2>Heros</h2>
<% @heros.each do |hero| %>
  <div class="hero">
    <p>Name: <%= hero.name %></p><br>
    <p>Type: <%= hero.type %></p><br>
    <p>Booty: <%= hero.booty %></p>
  </div><br>

<% end %>
